@import "tailwindcss";
@import "@fontsource-variable/inter";

@theme {
  --font-sans: "Inter Variable", sans-serif;
}

@layer utilities {
    .custom-scrollbar {
        scrollbar-color: rgb(82 82 91 / 0.8) rgb(9 9 11 / 0.4);
        scrollbar-width: thin;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: rgb(9 9 11 / 0.4);
        border-radius: 999px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgb(63 63 70 / 0.9);
        border: 2px solid rgb(9 9 11 / 0.75);
        border-radius: 999px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgb(113 113 122 / 0.9);
    }

    .custom-scrollbar::-webkit-scrollbar-corner {
        background: transparent;
    }
}